body, textarea { font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif; }
input, select { font-family: Arial, "ＭＳ Ｐゴシック", sans-serif; }


.deck-container {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: auto;
    max-width: 864px;
    height: 600px;
}

.slide h3 {
    font-size: 3.5em;   
    color: #666;
}

.slide h3.center {
    text-align: center;    
}

.slide h4 {
    font-size: 2.5em;   
}

.slide li {
    padding: .5em 0;    
}

.likePanel {
    padding-top: 20px;
    width: auto;
    margin: auto;
    max-width: 846px;
    font-size: 70px;
}

.likeButtonContainer{
    text-align: center;
    float: left;
    width: 400px;
}

.likeButton{
    cursor: pointer;
}

.likeCounter{
    text-align: center;
    float: left;
    width: 400px;
    line-height: 120px;
    font-weight: bold;
}

.likeSplash {
    position: absolute;
    color: #666666;
    font-size: 40px;
    opacity: 0.7;
    font-weight: bold;
    z-index: 9999;
}

.chatPanel {
    border-top: 1px dotted #666666;
    padding-top: 20px;
    width: auto;
    margin:auto;
    max-width: 846px;
}

.chatPanelContainer {
    list-style-type: none;
}


.chatPanelName { 
    border: 1px solid #999999;    
}

.chatPanelMessage {
    border: 1px solid #999999;
}

.chatMessageTimestamp {
    color : #666666;
    font-size: small;
    margin-right: 10px;
}

.chatMessageLine {
    padding: 5px 0px;
    border-top: 1px dotted #999999;
}

.chatMessageLine .chatMessage {
    margin-left: 20px;    
}

.connectionStatusArea {
    position: fixed;
    bottom : 10px;
    right: 10px;
    color: #666666;
}
