<div class="likePanel" style="margin: 10px;">
    <a href="#" id="likeButton">いいね!</a>
    <span id="likeCounter"></span>
</div>

<section class="slide" id="title-slide">
	<h1>aa</h1>
</section>

<section class="slide" id="how-to-overview">
	<h2>SimplexのWebシステムの問題点</h2>
	<ul>
		<li>
			<h3>リアルタイム</h3>
		</li>
		<li>
			<h3>モバイル</h3>
		</li>
		<li>
			<h3>クラウド</h3>
		</li>
	</ul>
</section>

<section class="slide" id="markup">
	<h2>リアルタイム</h2>
    
</section>

<section class="slide" id="themes">
	<h2>Style Themes</h2>
	<p>Customizes the colors, typography, and layout of slide&nbsp;content.</p>
	<pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;/path/to/css/style-theme.css&quot;&gt;</code></pre>
	<h2>Transition Themes</h2>
	<p>Defines transitions between slides using CSS3 transitions.  Less capable browsers fall back to cutaways. But <strong>you</strong> aren&rsquo;t using <em>those</em> browsers to give your presentations, are&nbsp;you&hellip;</p>
	<pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;/path/to/css/transition-theme.css&quot;&gt;</code></pre>
</section>

<section class="slide" id="extensions">
	<h2>Extensions</h2>
	<p>Core gives you basic slide functionality with left and right arrow navigation, but you may want more. Here are the ones included in this&nbsp;deck:</p>
	
	<ul>
		<li class="slide" id="extensions-goto">
			<strong>deck.goto</strong>: Adds a shortcut key to jump to any slide number.  Hit g, type in the slide number, and hit&nbsp;enter.
		</li>
		
		<li class="slide" id="extensions-hash">
			<strong>deck.hash</strong>: Enables internal linking within slides, deep linking to individual slides, and updates the address bar &amp; a permalink anchor with each slide&nbsp;change.
		</li>

		<li class="slide" id="extensions-menu">
			<strong>deck.menu</strong>: Adds a menu view, letting you see all slides in a grid. Hit m to toggle to menu view, continue navigating your deck, and hit m to return to normal view. Touch devices can double-tap the deck to switch between&nbsp;views.
		</li>

		<li class="slide" id="extensions-navigation">
			<strong>deck.navigation</strong>: Adds clickable left and right buttons for the less keyboard&nbsp;inclined.
		</li>

		<li class="slide" id="extensions-status">
			<strong>deck.status</strong>: Adds a page number indicator. (current/total)
		</li>
	</ul>
	
	<p class="slide" id="extension-folders">Each extension folder in the download package contains the necessary JavaScript, CSS, and HTML&nbsp;files. For a complete list of extension modules included in deck.js, check out the&nbsp;<a href="http://imakewebthings.github.com/deck.js/docs">documentation</a>.</p>
</section>

<section class="slide" id="nested">
	<h2>Nested Slides</h2>
	<p>That last slide had a few steps.  To create substeps in slides, just nest them:</p>
	<pre><code>&lt;section class=&quot;slide&quot;&gt;
  &lt;h2&gt;Extensions&lt;/h2&gt;
  &lt;p&gt;Core gives you basic slide functionality...&lt;/p&gt;		
  &lt;ul&gt;
     &lt;li class=&quot;slide&quot;&gt;
        &lt;h3&gt;deck.goto&lt;/h3&gt;
        &lt;p&gt;Adds a shortcut key to jump to any slide number...&lt;/p&gt;
     &lt;/li&gt;
     &lt;li class=&quot;slide&quot;&gt;...&lt;/li&gt;	
     &lt;li class=&quot;slide&quot;&gt;...&lt;/li&gt;
     &lt;li class=&quot;slide&quot;&gt;...&lt;/li&gt;
  &lt;/ul&gt;
&lt;/section&gt;</code></pre>
</section>

<section class="slide" id="elements-images">
	<h2>Other Elements: Images</h2>
	<img src="http://placekitten.com/600/375" alt="Kitties">
	<pre><code>&lt;img src=&quot;http://placekitten.com/600/375&quot; alt=&quot;Kitties&quot;&gt;</code></pre>
</section>

<section class="slide" id="elements-blockquotes">
	<h2>Other Elements: Blockquotes</h2>
	<blockquote cite="http://example.org">
		<p>Food is an important part of a balanced diet.</p>
		<p><cite>Fran Lebowitz</cite></p>
	</blockquote>
	<pre><code>&lt;blockquote cite=&quot;http://example.org&quot;&gt;
  &lt;p&gt;Food is an important part of a balanced diet.&lt;/p&gt;
  &lt;p&gt;&lt;cite&gt;Fran Lebowitz&lt;/cite&gt;&lt;/p&gt;
&lt;/blockquote&gt;</code></pre>
</section>


<section class="slide" id="digging-deeper">
	<h2>Digging Deeper</h2>
	<p>If you want to learn about making your own themes, extending deck.js, and more, check out the&nbsp;<a href="../docs/">documentation</a>.</p>
</section>

<div class="chatArea">
    name: <input type="text" id="chatPanelName" />
    message: <input type="text" id="chatPanelMessage" />
    <input type="button" value="send" id="chatPanelSendButton" />
    <div>
        <ul id="chatPanelContainer"></ul>
    </div>
</div>

<div class="connectionStatusArea">
    接続ステータス:<span id="connectionStatus">--</span>, 
	現在の接続数:<span id="connectionCount">--</span>,
</div>

<p class="deck-status">
	<span class="deck-status-current"></span>
	/
	<span class="deck-status-total"></span>
</p>
<script src="/javascripts/jquery-1.7.min.js"></script>
<script src="/javascripts/deck.js/deck.core.js"></script>
<script src="/javascripts/deck.js/deck.status.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/javascripts/slide.js"></script>
<script src="/javascripts/status.js"></script>
<script src="/javascripts/like.js?<%= new Date().getTime() %>"></script>
<script src="/javascripts/chat.js?<%= new Date().getTime() %>"></script>

<script type="text/javascript">
$(function() {
    var socket = io.connect('<%= hostname %>',{
       'connect timeout' : 2000
    });

    new SlideControl({
        socket : socket,
        admin : <%= admin %>
    });

    new LikePanel({
        socket : socket,
        selector : {
            button : "#likeButton",
            counter : "#likeCounter"
        }
    });

    new ChatPanel({
        socket : socket,
        selector : {
            button : "#chatPanelSendButton",
            name : "#chatPanelName",
            message : "#chatPanelMessage",
            container : "#chatPanelContainer"
        }
    });

    new ConnectionStatus({
        socket : socket,
        selector : {
            status : "#connectionStatus",
            count : "#connectionCount",
            transport : "#connectionTransport"
        }
    });

});
</script>
