<div class="deck-container">
    <section class="slide" id="title-slide">
    	<h1>http://socialslide.<br />herokuapp.com</h1>
	</section>

    <section class="slide">
    	<h2>2004年</h2>
        <div class="slide">
            <img src="/images/rails.png" />
            <h3 class="center">3分ハッキング</h3>
        </div>
	</section>
	
	<section class="slide">
        <h2>今日のトピック</h2>
		<ul>
			<li><h3 class="slide">リアルタイム</h3></li>
			<li><h3 class="slide">モバイル</h3></li>
			<li><h3 class="slide">クラウド</h3></li>
		</ul>
	</section>
	
	<section class="slide">
	    <h1>SimplexのWebシステムの現状は？</h1>    
	</section>

    <section class="slide">
	    <h1>リアルタイム</h1>	    
	</section>
	
	<section class="slide">
		<h2>リアルタイム</h2>
        <ul>
            <li><h3 class="slide">基本ポーリング</h3></li>
            <li><h3 class="slide">性能上の欠陥あり</h3></li>
        </ul>
	</section>

    <section class="slide">
		<h2>性能上の欠陥</h2>
        <h1>C10K Problem</h1>
        <a style="position:absolute; right: 50px; bottom:150px" href="http://www.hyuki.com/yukiwiki/wiki.cgi?TheC10kProblem" target="_blank">詳細はこちら</a>
	</section>

    <section class="slide">
    	<h2>C10K Problem</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
	</section>

    <section class="slide">
        カーネルの図
    </section>

    <section class="slide">
        <h1>モバイル</h1>
    </section>

    <section class="slide">
        <h2>モバイル</h2>
        <ul>
            <li>多種多様なデバイスへの対応</li>
            <li>変化が速い</li>
        </ul>
    </section>

    <section class="slide">
        図
    </section>

    <section class="slide">
        <h1>クラウド</h1>
    </section>

    <section class="slide">
        <h1>我々にはVoyager Trading Cloudがあるではないか！</h1>
    </section>

    <section class="slide">
        <h2>Voyager Trading Cloud</h2>
        <ul>
            <li>サーバ追加は手動オペレーション</li>
            <li>簡単にスケールアウトしないものが多い</li>
        </ul>
    </section>

    <section class="slide">
        図
    </section>

    <section class="slide">
        <h2>Simplexの現状</h2>
		<ul>
			<li><h3>× リアルタイム</h3></li>
			<li><h3>× モバイル</h3></li>
			<li><h3>× クラウド</h3></li>
		</ul>
	</section>

    <section class="slide">
        <h1>Complex Fx</h1>
        http://
    </section>

	<p class="deck-status">
		<span class="deck-status-current"></span>
		/
		<span class="deck-status-total"></span>
	</p>
</div>

<div class="likePanel">
    <div class="likeButtonContainer">
        <img id="likeButton" class="likeButton" src="/images/like_button.png" width="250" height="120" />
    </div>
	<div class="likeCounter" id="likeCounter">--</div>
</div>
<br style="clear:both" />
<div class="chatPanel">
    <span>
        name: <input type="text" id="chatPanelName" size="16" />
    </span>
    <span style="margin-left: 10px">
        message: <input type="text" id="chatPanelMessage" size="64" maxlength="64" />
    </span>
    <input type="button" value="send" id="chatPanelSendButton" />
    <div>
        <ul id="chatPanelContainer" class="chatPanelContainer"></ul>
    </div>
</div>

<div class="connectionStatusArea">
    接続ステータス:<span id="connectionStatus">--</span>, 
	現在の接続数:<span id="connectionCount">--</span>
</div>

<script src="/javascripts/jquery-1.7.min.js"></script>
<script src="/javascripts/deck.js/deck.core.js"></script>
<script src="/javascripts/deck.js/deck.status.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/javascripts/slide.js"></script>
<script src="/javascripts/status.js"></script>
<script src="/javascripts/like.js?<%= new Date().getTime() %>"></script>
<script src="/javascripts/chat.js?<%= new Date().getTime() %>"></script>

<script type="text/javascript">
$(function() {
    var socket = io.connect('<%= hostname %>',{
       'connect timeout' : 2000
    });

    new SlideControl({
        socket : socket,
        admin : <%= admin %>
    });

    new LikePanel({
        socket : socket,
        selector : {
            button : "#likeButton",
            counter : "#likeCounter"
        }
    });

    new ChatPanel({
        socket : socket,
        selector : {
            button : "#chatPanelSendButton",
            name : "#chatPanelName",
            message : "#chatPanelMessage",
            container : "#chatPanelContainer"
        }
    });

    new ConnectionStatus({
        socket : socket,
        selector : {
            status : "#connectionStatus",
            count : "#connectionCount",
            transport : "#connectionTransport"
        }
    });

});
</script>
