<div class="deck-container">
    <section class="slide" id="title-slide">
        <h1>http://socialslide.<br />herokuapp.com</h1>
    </section>

    <section class="slide">
    	<h2>2004年</h2>
        <div class="slide">
            <img src="/images/rails.png" />
            <h3 class="center">3分ハッキング</h3>
        </div>
	</section>
	
	<section class="slide">
        <h2>今日のトピック</h2>
		<ul>
			<li><h3 class="slide">リアルタイム</h3></li>
			<li><h3 class="slide">モバイル</h3></li>
			<li><h3 class="slide">クラウド</h3></li>
		</ul>
	</section>
	
	<section class="slide">
	    <h1>SimplexのWebシステムの現状は？</h1>    
	</section>

	<section class="slide">
		<h2>リアルタイム</h2>
        <ul>
            <li><h3 class="slide">基本、ポーリング</h3></li>
            <li><h3 class="slide">Pushもあるが</h3></li>
            <li><h3 class="slide">性能上の欠陥あり</h3></li>
        </ul>
	</section>

    <section class="slide">
		<h2>性能上の欠陥</h2>
        <h1>C10K Problem</h1>
        <a style="position:absolute; right: 50px; bottom:150px" href="http://www.hyuki.com/yukiwiki/wiki.cgi?TheC10kProblem" target="_blank">詳細はこちら</a>
	</section>

    <section class="slide">
    	<h2>C10K Problem</h2>
        <ul>
            <li><h3>1スレッドあたりのスタックサイズは2MB</h3></li>
            <li><h3>カーネルのコンテキストスイッチは重い</h3></li>
        </ul>
	</section>

    <section class="slide">
        カーネルの図
    </section>

    <section class="slide">
        <h2>モバイル</h2>
        <ul>
            <li><h3 class="slide">iOSとAndroid以外は?</h3></li>
            <li><h3 class="slide">メンテナンスコスト</h3></li>
        </ul>
    </section>

    <section class="slide">
        図
    </section>

    <section class="slide">
        <h2>クラウド</h2>
        <h1 class="slide" style="top:200px">Voyager Trading Cloud!</h1>
    </section>

    <section class="slide">
        <h2>Voyager Trading Cloud</h2>
        <ul>
            <li><h3 class="slide">サーバ追加は手動オペレーション</h3></li>
            <li><h3 class="slide">簡単にスケールアウトしないものが多い</h3></li>
        </ul>
    </section>

    <section class="slide">
        図
    </section>

    <section class="slide">
        <h2>Simplexの現状</h2>
		<ul>
			<li><h3>×リアルタイム</h3></li>
			<li><h3>×モバイル</h3></li>
			<li><h3>×クラウド</h3></li>
		</ul>
	</section>

    <section class="slide">
        <h1>Complex FX</h1>
        <a style="position:absolute; bottom:150px; right:50px" href="http://floating-earth-4631.herokuapp.com/" target="_blank">こちらからアプリへ</a>
    </section>

    <section class="slide">
        <h2>Complex FX</h2>
    	<ul>
			<li><h3>○リアルタイム</h3></li>
			<li><h3>○モバイル</h3></li>
			<li><h3>○クラウド</h3></li>
		</ul>
	</section>

    <section class="slide">
        <h2>リアルタイム</h2>
        <ul>
			<li><h3>Node.js + Socket.IO</h3></li>
			<li><h3>非同期IOによる高性能化</h3></li>
			<li><h3>WebSocketによる高性能化</h3></li>
		</ul>
	</section>

    <section class="slide">
        <h2>スレッドモデル (Tomcat, Apache)</h2>
        <ul>
            図
		</ul>
	</section>

    <section class="slide">
        <h2>イベントループモデル(Node.js, nginx)</h2>
        <ul>
            図
    	</ul>
	</section>

    <section class="slide">
        <h2>Socket.IO</h2>
        <h4>クライアントに応じて接続方式を自動的に決定</h4>
        <ul>
            <li>WebSocket</li>
            <li>Flash Socket</li>
            <li>Ajax long polling</li>
            <li>Ajax multipart streaming</li>
            <li>Forever IFrame</li>
            <li>JSONP Polling</li>
        </ul>
	</section>

    <section class="slide">
        <h2>WebSocket</h2>
        <ul>
            図
        </ul>
	</section>


    <section class="slide">
        <h2>モバイル</h2>
        <ul>
        	<li><h3>HTML5 + CSS3 ＋ JS</h3></li>
			<li><h3>JQuery Mobile</h3></li>
			<li><h3>jqPlot</h3></li>
		</ul>
	</section>

    <section class="slide">
        <h2>モバイル</h2>
        <ul>
            <li><h3>PhoneGap</h3></li>
            <li><h3>Titanium Mobile</h3></li>
    </section>

    <section class="slide">
        <h2>モバイル</h2>
        図
    </section>

    <section class="slide">
        <h2>クラウド</h2>
        <h1>heroku</h1>
	</section>

    <section class="slide">
        <h2>herokuとは何か</h2>
        <h1>日本が好きなアメリカ人が作ったPaas</h1>
    </section>
    
    <section class="slide">
        <h2>heroku user group</h2>
        <img src="/images/hug-sign.png" />
    </section>


    <section class="slide">
        <h2>heroku</h2>
        <ul>
            <li><h3>スピーディにスケール</h3></li>
            <li><h3>瞬時にデプロイ</h3></li>
        </ul>
    </section>

    <section class="slide">
        <h2>スピーディにスケール</h2>
        図
    </section>

    <section class="slide">
        <h2>瞬時にデプロイ</h2>
        <h3>git push origin master</h3>
    </section>

    <section class="slide">
        <h2>Complex FX</h2>
        <ul>
			<li><h3>○リアルタイム</h3></li>
			<li><h3>○モバイル</h3></li>
			<li><h3>○クラウド</h3></li>
		</ul>
	</section>

    <section class="slide">
        <ul>
    		<li>WebSocketを使ったPush配信</li>
			<li>非同期I/Oによる大量同時コネクションの処理</li>
			<li>HTML5を使ってOne source multi useを実現</li>
		</ul>
	</section>

    <section class="slide">
        <h2>Technology</h2>
        <ul>
    		<li><h3>Node.js + Socket.IO</h3></li>
			<li><h3>HTML5 + CSS3 + JS</h3></li>
			<li><h3>heroku</h3></li>
		</ul>
	</section>

    <section class="slide">
        <h1>One more thing</h1>
	</section>

    <section class="slide">
        <h1>Social Slide</h1>
    </section>

    <section class="slide">
        <h2>Social Slide</h2>
        <ul>
            <li><h3>Sync Slide</h3></li>
            <li><h3>Sync Like!</h3></li>
            <li><h3>Sync Message</h3></li>
        </ul>
    </section>

	<p class="deck-status">
		<span class="deck-status-current"></span>
		/
		<span class="deck-status-total"></span>
	</p>
</div>

<div class="likePanel">
    <div class="likeButtonContainer">
        <img id="likeButton" class="likeButton" src="/images/like_button.png" width="250" height="120" />
    </div>
	<div class="likeCounter" id="likeCounter">--</div>
</div>
<br style="clear:both" />
<div class="chatPanel">
    <span>
        name: <input type="text" id="chatPanelName" size="16" />
    </span>
    <span style="margin-left: 10px">
        message: <input type="text" id="chatPanelMessage" size="64" maxlength="64" />
    </span>
    <input type="button" value="send" id="chatPanelSendButton" />
    <div>
        <ul id="chatPanelContainer" class="chatPanelContainer"></ul>
    </div>
</div>

<div class="connectionStatusArea">
    接続ステータス:<span id="connectionStatus">--</span>, 
	現在の接続数:<span id="connectionCount">--</span>
</div>

<script src="/javascripts/jquery-1.7.min.js"></script>
<script src="/javascripts/deck.js/deck.core.js"></script>
<script src="/javascripts/deck.js/deck.status.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/javascripts/slide.js"></script>
<script src="/javascripts/status.js"></script>
<script src="/javascripts/like.js?<%= new Date().getTime() %>"></script>
<script src="/javascripts/chat.js?<%= new Date().getTime() %>"></script>

<script type="text/javascript">
$(function() {
    var socket = io.connect('<%= hostname %>',{
       'connect timeout' : 2000
    });

    new SlideControl({
        socket : socket,
        admin : <%= admin %>
    });

    new LikePanel({
        socket : socket,
        selector : {
            button : "#likeButton",
            counter : "#likeCounter"
        }
    });

    new ChatPanel({
        socket : socket,
        selector : {
            button : "#chatPanelSendButton",
            name : "#chatPanelName",
            message : "#chatPanelMessage",
            container : "#chatPanelContainer"
        }
    });

    new ConnectionStatus({
        socket : socket,
        selector : {
            status : "#connectionStatus",
            count : "#connectionCount",
            transport : "#connectionTransport"
        }
    });

});
</script>
