<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>リアルタイムWeb</title>
	
	<!-- Core and extension CSS files -->
	<link rel="stylesheet" href="/stylesheets/deck.js/deck.core.css">
    <link rel="stylesheet" href="/stylesheets/deck.js/deck.scale.css">
	<link rel="stylesheet" href="/stylesheets/deck.js/deck.status.css">
	<link rel="stylesheet" id="style-theme-link" href="/stylesheets/deck.js/web-2.0.css">
	<link rel="stylesheet" id="transition-theme-link" href="/stylesheets/deck.js/horizontal-slide.css">
    <style type="text/css">
    .connectionStatusArea {
        position: fixed;
        bottom : 10px;
        right: 0px;
        color: #666666;
        font-size: small;
    }

    .deck-container {
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        width: auto;
        max-width: 864px;
        height: 600px;
    }

    .likePanel {
        padding-top: 20px;
        width: auto;
        margin: auto;
        max-width: 846px;
        font-size: 70px;
    }

    .likeButtonContainer{
        text-align: center;
        float: left;
        width: 400px;
    }

    .likeButton{
        cursor: pointer;
    }

    .likeCounter{
        text-align: center;
        float: left;
        width: 400px;
        line-height: 120px;
    }

    .chatPanel {
        border-top: 1px dotted #666666;
        padding-top: 20px;
        width: auto;
        margin:auto;
        max-width: 846px;
    }
    </style>
	<script src="/javascripts/deck.js/modernizr.custom.js"></script>
</head>

<body>
    <%- body %>
</body>
</html>
