<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>リアルタイムWeb</title>
	
	<!-- Core and extension CSS files -->
	<link rel="stylesheet" href="/stylesheets/deck.js/deck.core.css">
    <link rel="stylesheet" href="/stylesheets/deck.js/deck.scale.css">
	<link rel="stylesheet" href="/stylesheets/deck.js/deck.status.css">
	<link rel="stylesheet" id="style-theme-link" href="/stylesheets/deck.js/web-2.0.css">
	<link rel="stylesheet" id="transition-theme-link" href="/stylesheets/deck.js/horizontal-slide.css">

	<script src="/javascripts/deck.js/modernizr.custom.js"></script>
</head>

<body class="deck-container">
    <%- body %>
</body>
</html>
