<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/socialslide.css' />
  </head>
  <body>
    <span id="like">いいね!</span>
    <%- body %>
  </body>
</html>
