<form name="loginForm" method="post" action="/">
    <input type="hidden" name="admin" value="true" />
    <div>
        count: <input type="text" name="count" value="0" />
    </div>
    <div>
        password: <input type="password" name="password" /> 
    </div>
    <input type="submit" value="login" />
</form>
