<div class="deck-container">

    <section class="slide">
        <h1>SocialSlide</h1>
    </section>

    <section class="slide">
        <h2>自己紹介</h2>
        <ul>
            <li><h4>名前：おすぎ</h4></li>
            <li><h4>年齢：0x1E歳</h4></li>
            <li><h4>職業：最速JS研究会シニアスタッフ</h4></li>
        </ul>
    </section>

    <section class="slide">
        <h1>Keynote</h1>
    </section>

    <section class="slide">
        <h1>家庭内WF却下</h1>
    </section>

    <section class="slide">
        <h1>自分で作ろう</h1>
    </section>

    <section class="slide">
        <h1>SocialSlide</h1>
    </section>

    <section class="slide">
        <h2>特徴</h2>
        <ul>
            <li><h3>Sync Slide</h3></li>
            <li><h3>Sync Like</h3></li>
            <li><h3>Sync Message</h3></li>
        </ul>
    </section>

    <section class="slide">
        <h2>クライアントサイド</h2>
        <h1>deck.js</h1>
    </section>

    <section class="slide">
        <h2>サーバーサイド</h2>
        <h1>Node.js + Socket.IO</h1>
    </section>

    <section class="slide">
        <h1>気をつけたところ</h1>
    </section>

    <section class="slide">
        <h1>ファイルサイズ</h1>
    </section>

    <section class="slide">
        <h2>Byte単位で画質を調整</h2>
        <img src="/images/inori.jpg" width="600" height="400" />
    </section>

    <section class="slide">
        <h1>セキュリティ</h1>
    </section>

    <section class="slide">
        <h2>何をすればよいのか</h2>
        <ul>
            <li><h3>XSS</h3></li>
            <li><h3>sanitize</h3></il>
        </ul>
    </section>

    <section class="slide">
        <h1>アニメーション</h1>
    </section>

    <section class="slide">
        <h2>いいねボタン</h2>
        <ul>
            <li><h3><a href="#" onclick="new LikeSplash().show();">いいね</a></h3></li>
            <li><h3><a href="#" onclick="new BigLikeSplash(100).show();">Bigいいね</a></h3></li>
        </ul>
    </section>

    <section class="slide">
        <h1>Githubで公開</h1>
    </section>

	<p class="deck-status">
		<span class="deck-status-current"></span>
		/
		<span class="deck-status-total"></span>
	</p>
</div>

<div class="likePanel">
    <div class="likeButtonContainer">
        <img id="likeButton" class="likeButton" src="/images/like_button.png" width="320" height="155" />
    </div>
	<div class="likeCounter" id="likeCounter">--</div>
</div>

<div class="connectionStatusArea">
    接続ステータス:<span id="connectionStatus">--</span>, 
	現在の接続数:<span id="connectionCount">--</span>
</div>

<script src="/javascripts/jquery-1.7.min.js"></script>
<script src="/javascripts/deck.js/deck.core.js"></script>
<script src="/javascripts/deck.js/deck.status.js"></script>
<script src="/javascripts/like.js"></script>
<script type="text/javascript">
$.deck('.slide', {
    keys: {
        // page down, right arrow, down arrow
        next: [34, 39, 40],
        // page up, left arrow, up arrow
        previous: [33, 37, 38]
    }
});
</script>

